<div class="container col-6 mt-3 h-container">
<%= simple_form_for @recipe do |f| %>
  <%= f.input :name, label: "Recipe Title" %>
  <%= f.input :photo, as: :file %>
  <%= f.input :ingredients %>
  <%= f.input :directions %>
  <!--<%= f.input :variation_status, as: :boolean, label: "variation recipe" %>-->
  <%= f.button :submit, class: "btt-red-sm" %>
<% end %>
</div>
