<% if @old_recipe %>
  <div class="container col-6 mt-3 h-container">
    <%= simple_form_for @recipe do |f| %>
      <%= f.hidden_field :recipe_id, value: @old_recipe.id %>
      <%= f.hidden_field :variation_status, value: true %>
      <%= f.input :name, label: "Recipe Title", input_html: {value: @old_recipe.name} %>
      <%= f.input :photo, as: :file %>
      <%= f.input :ingredients, input_html: {value: @old_recipe.ingredients}, label: "Ingredients Ex. (200grams of Meat, rice, milk)"%>
      <%= f.button :submit, class: "btt-red-sm" %>
    <% end %>
  </div>

<% else %>
  <div class="container col-6 mt-3 h-container">
    <%= simple_form_for @recipe do |f| %>
      <%= f.input :name, label: "Recipe Title", required: true %>
      <%= f.input :photo, as: :file, required: true %>
      <%= f.input :ingredients, required: true, label: "Ingredients Ex. (200grams of Meat, rice, milk)" %>
      <%= f.button :submit, class: "btt-red-sm" %>
    <% end %>
  </div>
<% end %>
