<div class="container col-6 mt-3 h-container">
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :name, label: "Recipe Title", required: true %>
    <%= f.input :photo, as: :file, required: true %>
    <%= f.input :ingredients, required: true, label: "Ingredients Ex. (200grams of Meat, rice, milk)" %>
    <%= f.fields_for :directions do |recipe_subform|  %>
      <%= recipe_subform.input :step, required: false %>
      <%= recipe_subform.check_box :_destroy %>
    <% end %>
    <%= f.button :submit, class: "btt-red-sm" %>
  <% end %>
</div>
