<div class="container mt-5 col-4">
<%= form_with url: recipes_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a recipe"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
<div class="container d-flex">
<% @recipes.each do |recipe| %>
   <%= link_to recipe_path(recipe), class: "card-recipe" do %>
    <div class="card m-2" style="width: 18rem;">
      <%= cl_image_tag recipe.photo.key, class: "card-img-top", height: 250 %>
      <div class="card-body">
        <h5 class="card-text"><strong><%= recipe.name %></strong></h5>
      </div>
    </div>
    <% end %>
<% end %>
</div>
