<div class= "container mt-5" >
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="recipe_show_wrapper">
        <h2 class="recipe-title"><%= @recipe.name %></h2>
         <% if current_user.bookmark_this?(@recipe) %>
            <%= link_to bookmark_path(@recipe), data: { turbo_method: :delete }  do %>
              <p>
                <i class="fa fa-heart" style="font-size:26px;"></i>Remove Recipe from Bookmarks
              </p>
            <% end %>
        <% else %>
          <%= link_to bookmarks_path(recipe_id: @recipe), data: { turbo_method: :post } do %>
            <p>
              <i class="fa fa-heart" style="font-size:26px;"></i>Save Recipe to Bookmarks
            </p>
          <% end %>
        <% end %>
        <div class="d-flex fix-space" >
          <%= cl_image_tag @recipe.photo.key, height: 300, width: 400, crop: :fill, class: "my-3" %>
          <div class="fix-space-info">
            <h3>Ingredients:</h3>
            <ul>
              <% @ingredients.each do |ingredient| %>
                <li><%= ingredient %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <h3>Directions:</h3>
        <ol>
          <% @directions&.each do |direction| %>
            <li>
              <div class="line">
                <%= direction.step %>
                  <% if current_user == @recipe.user %>
                    <%= link_to edit_direction_path(direction) do %>
                       <i class="fa-solid fa-pen-to-square"></i>
                    <% end %>
                    <%= link_to direction_path(direction), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                      <i class="fa-solid fa-trash"></i>
                    <% end %>
                  <% end %>
              </div>
            </li>
          <% end %>
        </ol>
        <% if current_user == @recipe.user %>
          <%= simple_form_for @direction, url: directions_path do |f| %>
          <br>
          <h5><%= f.input :step, label: "Add Step:" %></h5>
          <%= f.hidden_field :recipe_id, value: @recipe.id %>
          <%= f.button :submit, class: "btt-red-sm" %>
        <% end %>
        <br>
        <br>
          <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn--orange" %>
          <%= link_to "Delete", recipe_path(@recipe), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn--orange" %>
        <% end %>
        <% if @recipe.recipe_id %>
        <% else %>
          <%= link_to "Variation", new_recipe_path(:variation => @recipe.id), class: "btn btn--orange" %>
        <% end %>
        <br>
        <br>
        <% if @review %>
          <h3>Reviews:</h3>
        <% end %>
        <% if @recipe.user != current_user && !Review.find_by(user: current_user,recipe: @recipe)%>
          <%= link_to "Post a review", new_recipe_review_path(@recipe), class: "btn btt-red-sm" %>
        <% end %>
        <% @recipe.reviews.each do |review| %>
          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <div class="star">
                <% review.score.times do %>
                  ★
                <% end %>
              </div>
              <%= review.comment %>
              <br>
              Reviewed on <%= review.created_at.strftime('%m-%d-%Y') %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <% if @recipe.recipe_id %>
      <% else %>
        <div class="cards">
          <% @recipe_variations.each do |recipe_variation| %>
            <%= link_to recipe_path(recipe_variation), class: "card-recipe-2" do %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path recipe_variation.photo.key %>)">
                <%= recipe_variation.name %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
